
<div class="container">
    <div class="card shadow">
        <div class="card-header">
            <h5 class="card-title">Cadastrar Produtos</h5>
            <p class="card-subtitle">Preencha os campos para incluir uma conta.</p>
        </div>
        <div *ngIf="mensagem()"class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Sucesso!</strong> {{ mensagem() }}
            </div>
        

        <div class="card-body">

            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="mb-3">
                    <label class="form-label">Nome do Produto:</label>
                    <input type="text" formControlName="nome" class="form-control" />
                    <div class="text-danger" *ngIf="form.get('nome')?.touched">
                    <div *ngIf="form.get('nome')?.hasError('required')">
                        Por favor, digite o nome do produto.
                    </div>
                    <div *ngIf="form.get('nome')?.hasError('maxlength')">
                        Por favor, informe no máximo 50 caracteres no nome do produto.
                    </div>
                </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Valor do Produto:</label>
                    <input type="number" formControlName="preco" class="form-control" />
                    <div class="text-danger" *ngIf="form.get('preco')?.touched">
                    <div *ngIf="form.get('preco')?.hasError('required')">
                        Por favor, informe o preço do produto.
                    </div>
                </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Quantidade:</label>
                    <input type="number" formControlName="quantidade" class="form-control" />
                    <div class="text-danger" *ngIf="form.get('quantidade')?.touched">
                    <div *ngIf="form.get('quantidade')?.hasError('required')">
                        Por favor, informe a quantidade do produto.
                    </div>
                    <div *ngIf="form.get('quantidade')?.hasError('min')">
                        A quantidade deve ser maior que zero.
                    </div>
                </div>
                </div>


                <button type="submit" class="btn btn-primary btn-sm" [disabled]="form.invalid" >
                    Realizar Cadastro
                </button>

            </form>
        </div>
    </div>
</div>